@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/* 600, 600, 800 */
/* font-family: 'Nunito Sans', sans-serif; */
*{
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
}

.main{
    box-sizing: border-box;
    background-color: hsl(0, 0%, 98%);
}
.dark-main{
    background-color: hsl(207, 26%, 17%);
}