@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
.nav{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0px 60px;

    border-bottom: 2px solid lightgrey;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dark-nav{
    background-color: hsl(209, 23%, 22%);
    border-bottom: 2px solid hsl(208, 23%, 15%);
}

.titulo{
    /* width: 55%; */
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;

    text-decoration: none !important;
    color: black;
}
.dark-titulo{
    color: hsl(0, 0%, 100%);
}

div.darkmode{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#lua{
    width: 20px !important;
    margin-right: -5px;
}


.darkmode:hover{
    cursor: pointer;
}

div.darkmode p{
    margin-left: 10px;
}